{
  "quoteProps": "consistent",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "printWidth": 95,
  "semi": true
}
